@media screen and (max-width: 478px) {
  .container {
    flex-direction: column;

    margin: 0px auto;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60%;
  }
  .heading {
    margin-bottom: 30px;
  }
}
